<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<script src="http://cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
		<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<link href="../bootstrap/css/icons/icomoon/styles.css" rel="stylesheet" />
		<link href="../../剑道UI示例/kendoui/style/kendo.common-bootstrap.min.css" rel="stylesheet" />
		<link href="../../剑道UI示例/kendoui/style/kendo.bootstrap.min.css" rel="stylesheet" />
		<script src="../../剑道UI示例/kendoui/js/kendo.all.min.js"></script>
		<script src="../../剑道UI示例/kendoui/js/messages/kendo.messages.zh-CN.min.js"></script>
		<style>
			body {
				font-family: "Microsoft Yahei"
			}
			
			a {
				cursor: pointer;
			}
			/*连接栏样式开始*/
			
			.navbar,
			.navbar-nav {
				margin: 0px;
			}
			
			.no-border {
				border: 0 !important;
			}
			
			.position-left {
				margin-right: 7px;
			}
			
			@media (min-width: 769px) {
				.navbar-default .navbar-nav>.active>a {
					-webkit-box-shadow: 0 1px 0 0 #26a69a;
					box-shadow: 0 1px 0 0 #26a69a;
				}
			}
			
			.dropdown-menu>li {
				position: relative;
				margin-bottom: 1px;
			}
			
			.navbar-nav>li>.dropdown-menu {
				margin-top: 1px;
				border-top-width: 0;
			}
			
			.dropdown-menu>li>a {
				padding: 8px 15px;
				outline: 0;
			}
			
			.dropdown-menu>li>a>i,
			.dropdown-menu>li>a>img {
				margin-right: 10px;
			}
			
			.dropdown-menu .divider {
				margin: 5px 0;
			}
			
			.dropdown-menu {
				min-width: 180px;
				padding: 5px 0;
				color: #333;
				-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
			}
			
			.dropdown-menu>.dropdown-submenu>.dropdown-menu {
				top: 0;
				left: 100%;
				margin-top: -6px;
			}
			
			.dropdown-menu>.dropdown-submenu:hover>.dropdown-menu {
				display: block;
			}
			
			.dropdown-menu>.dropdown-submenu>a:after {
				content: '\e9c7';
				font-family: 'icomoon';
				position: absolute;
				top: 50%;
				margin-top: -8px;
				right: 15px;
				font-size: 16px;
				font-weight: 400;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				opacity: .8;
				filter: alpha(opacity=80);
			}
			
			.dropdown-menu>.dropdown-submenu:hover>a:after,
			.dropdown-menu>.dropdown-submenu:focus>a:after {
				opacity: 1;
				filter: alpha(opacity=100);
			}
			/**color.css**/
			
			.bg-success-400 {
				background-color: #66bb6a;
				border-color: #66bb6a;
				color: #fff;
			}
			/*连接栏样式结束*/
			.k-tabstrip>.k-button { 
			    top: 0em; 
			}
			.k-tabstrip-items {
				background-color: #fefefe;
			}
			
			.k-tabstrip-items .k-state-default .k-link {
				color: #333;
			}
			
			.k-tabstrip-items .k-item.k-state-active {
				background: #2196f3;
				color: #fff;
			}
			
			.k-tabstrip-items .k-state-active .k-link {
				color: #fff;
			}
			
			.k-tabstrip:focus {
				-webkit-box-shadow: none;
				box-shadow: none
			}
			
			.k-tabstrip-items .k-item {
				border-radius: 0;
				border: none;
			}
			
			.k-tabstrip-items .k-state-active {
				border: none, ;
				border-color: auto;
			}
			
			.k-font-icon,
			.k-font-icon.k-icon,
			.k-font-icon.k-tool-icon {
				line-height: 1.28;
			}
			
			.k-tabstrip>.k-content {
				position: static;
				border-width: 0;
				margin: 0;
				padding: 0;
				border-top-width: 1px;
			}
			
			.k-tabstrip>.k-content iframe {
				width: 100%;
				height: 100%;
				display: block;
				border: none;
			}
		</style>
	</head>

	<body>
		<div id="main">
			<!--底部连接菜单栏开始-->
			<div class="navbar navbar-default" id="navbar-second">
				<ul class="nav navbar-nav no-border visible-xs-block">
					<li>
						<a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="glyphicon glyphicon-align-justify"></i></a>
					</li>
				</ul>

				<div class="navbar-collapse collapse" id="navbar-second-toggle">
					<ul class="nav navbar-nav">
						<li>
							<a href="index.html"><i class=""></i>LOGO</a>
						</li>

						<li class="dropdown" v-for="(itm,index) in menuBar">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
								{{itm.menuName}}<span class="caret"></span>
							</a>

							<ul class="dropdown-menu width-200">
								<li class="dropdown-submenu " v-for="(itm2,index2) in itm.chindren" v-if="itm2&&itm2.chindren">
									<a class="dropdown-toggle" data-toggle="dropdown">{{itm2.menuName}}</a>
									<dropdown-menu v-bind:chindren="itm2.chindren"></dropdown-menu>
								</li>
								<li v-else>
									<a onclick="addTab(this)" v-bind:data-id="itm2.menuId" v-bind:data-href="itm2.url">{{itm2.menuName}}</a>
								</li>
							</ul>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-user position-left"></i>登录人
								<span class="label label-inline position-right bg-success-400">1.0</span>
							</a>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-cog5"></i>
								<span class="visible-xs-inline-block position-right">Share</span>
								<span class="caret"></span>
							</a>

							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a href="#"><i class="icon-cog5"></i>菜单</a>
								</li>
								<li>
									<a href="#"><i class="icon-cog5"></i>菜单</a>
								</li>
								<li>
									<a href="#"><i class="icon-cog5"></i>菜单</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#"><i class="icon-switch2"></i>退出登录</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!--底部连接菜单栏结束-->
			<div id="tabstrip">
				<ul class="">
					<li class="k-state-active ">
						<i class="icon-home" style="font-size: 12px;"></i>&nbsp;主页
					</li>
				</ul>
				<div>
					<iframe src="../错误页面/404.html"></iframe>
				</div>
			</div>

		</div>
		<script src="../bootstrap/js/bootstrap.min.js"></script>
		<script>
			Vue.component('dropdown-menu', {
				props: ['chindren'],
				methods: {
					increment: function(i, index) {
						main.addNewTab(i, index);
					}
				},
				template: '<ul class="dropdown-menu">' +
					'    <li class="dropdown-submenu" v-for="(itm3,index3) in chindren" v-if="itm3&&itm3.chindren"><a href="#">{{itm3.menuName}}</a>' +
					'        <dropdown-menu v-bind:chindren="itm3.chindren"></dropdown-menu>' +
					'    </li>' +
					'    <li v-else><a v-bind:data-id="itm3.menuId" v-bind:data-href="itm3.url" onclick="addTab(this)">{{itm3.menuName}}</a>' +
					'    </li>' +
					'</ul>'
			});

			function objCopy(obj) {
				return JSON.parse(JSON.stringify(obj));
			}

			function transData(a, idStr, pidStr, chindrenStr) {
				var r = [],
					hash = {},
					id = idStr,
					pid = pidStr,
					children = chindrenStr,
					i = 0,
					j = 0,
					len = a.length;
				for(; i < len; i++) {
					hash[a[i][id]] = a[i];
				}
				for(; j < len; j++) {
					var aVal = a[j],
						hashVP = hash[aVal[pid]];
					if(hashVP) {
						!hashVP[children] && (hashVP[children] = []);
						hashVP[children].push(aVal);
					} else {
						r.push(aVal);
					}
				}
				return r;
			}
			var main = new Vue({
				el: "#main",
				data: {
					menuBar: transData([{
						"menuId": "10",
						"menuName": "基础信息",
						"parentId": "0",
						"sortNumber": 10,
						"url": ""
					}, {
						"menuId": "11",
						"menuName": "系统管理",
						"parentId": "0",
						"sortNumber": 11,
						"url": ""
					}, {
						"menuId": "12",
						"menuName": "商品管理",
						"parentId": "0",
						"sortNumber": 12,
						"url": ""
					}, {
						"menuId": "13",
						"menuName": "采购管理",
						"parentId": "0",
						"sortNumber": 13,
						"url": ""
					}, {
						"menuId": "14",
						"menuName": "销售管理",
						"parentId": "0",
						"sortNumber": 14,
						"url": ""
					}, {
						"menuId": "50",
						"menuName": "仓库管理",
						"parentId": "0",
						"sortNumber": 17,
						"url": ""
					}, {
						"menuId": "55",
						"menuName": "入库管理",
						"parentId": "0",
						"sortNumber": 17,
						"url": ""
					}, {
						"menuId": "56",
						"menuName": "库内管理",
						"parentId": "0",
						"sortNumber": 18,
						"url": ""
					}, {
						"menuId": "57",
						"menuName": "出库管理",
						"parentId": "0",
						"sortNumber": 19,
						"url": ""
					}, {
						"menuId": "58",
						"menuName": "库存管理",
						"parentId": "0",
						"sortNumber": 20,
						"url": ""
					}, {
						"menuId": "30",
						"menuName": "B2B管理",
						"parentId": "0",
						"sortNumber": 50,
						"url": ""
					}, {
						"menuId": "80",
						"menuName": "质押管理",
						"parentId": "0",
						"sortNumber": 999,
						"url": ""
					}, {
						"menuId": "1001",
						"menuName": "公司管理",
						"parentId": "10",
						"sortNumber": 1001,
						"url": ""
					}, {
						"menuId": "1004",
						"menuName": "我的仓库",
						"parentId": "10",
						"sortNumber": 1005,
						"url": "/Stock/Index"
					}, {
						"menuId": "1005",
						"menuName": "辅助资料",
						"parentId": "10",
						"sortNumber": 1005,
						"url": ""
					}, {
						"menuId": "1006",
						"menuName": "合同条款",
						"parentId": "10",
						"sortNumber": 1006,
						"url": "/ContractType/Index"
					}, {
						"menuId": "1007",
						"menuName": "审批流设置",
						"parentId": "10",
						"sortNumber": 1007,
						"url": "/ReviewConfig"
					}, {
						"menuId": "100101",
						"menuName": "公司列表",
						"parentId": "1001",
						"sortNumber": 100101,
						"url": "/Company/index"
					}, {
						"menuId": "100102",
						"menuName": "我的公司",
						"parentId": "1001",
						"sortNumber": 100102,
						"url": "/Company/myCompany"
					}, {
						"menuId": "100103",
						"menuName": "收货地址",
						"parentId": "1001",
						"sortNumber": 100103,
						"url": "/CompanyAddress/Index"
					}, {
						"menuId": "100104",
						"menuName": "销售商等级",
						"parentId": "1001",
						"sortNumber": 100104,
						"url": "/CustomerGrade/Index"
					}, {
						"menuId": "100105",
						"menuName": "销售商地址",
						"parentId": "1001",
						"sortNumber": 100105,
						"url": "/CustomerAddress/Index"
					}, {
						"menuId": "100512",
						"menuName": "公司分类",
						"parentId": "1005",
						"sortNumber": 100104,
						"url": "/CompanyClass/Index"
					}, {
						"menuId": "100501",
						"menuName": "付款方式",
						"parentId": "1005",
						"sortNumber": 100501,
						"url": "/DataInfo/Index?typeId=5"
					}, {
						"menuId": "100502",
						"menuName": "采购单类型",
						"parentId": "1005",
						"sortNumber": 100502,
						"url": "/DataInfo/Index?typeId=46"
					}, {
						"menuId": "100503",
						"menuName": "订单类型",
						"parentId": "1005",
						"sortNumber": 100503,
						"url": "/DataInfo/Index?typeId=2"
					}, {
						"menuId": "100505",
						"menuName": "结算方式",
						"parentId": "1005",
						"sortNumber": 100505,
						"url": "/DataInfo/Index?typeId=47"
					}, {
						"menuId": "100506",
						"menuName": "货币汇率",
						"parentId": "1005",
						"sortNumber": 100506,
						"url": "/Currency/Index"
					}, {
						"menuId": "100507",
						"menuName": "计量单位",
						"parentId": "1005",
						"sortNumber": 100507,
						"url": "/Auxiliary/BaseUnitIndex"
					}, {
						"menuId": "100508",
						"menuName": "国别管理",
						"parentId": "1005",
						"sortNumber": 100508,
						"url": "/Auxiliary/Country"
					}, {
						"menuId": "100509",
						"menuName": "行业管理",
						"parentId": "1005",
						"sortNumber": 100509,
						"url": "/Industry"
					}, {
						"menuId": "100510",
						"menuName": "发票类型",
						"parentId": "1005",
						"sortNumber": 100509,
						"url": "/InvoiceType"
					}, {
						"menuId": "100511",
						"menuName": "税分类",
						"parentId": "1005",
						"sortNumber": 100509,
						"url": "/TaxType"
					}, {
						"menuId": "100513",
						"menuName": "税率",
						"parentId": "1005",
						"sortNumber": 100509,
						"url": "/TaxRate"
					}, {
						"menuId": "1101",
						"menuName": "组织机构",
						"parentId": "11",
						"sortNumber": 1101,
						"url": "/Organize/GoOrganizeIndex"
					}, {
						"menuId": "1102",
						"menuName": "个人信息",
						"parentId": "11",
						"sortNumber": 1102,
						"url": "/User/EditUserInfo"
					}, {
						"menuId": "1103",
						"menuName": "用户管理",
						"parentId": "11",
						"sortNumber": 1103,
						"url": ""
					}, {
						"menuId": "1104",
						"menuName": "日志管理",
						"parentId": "11",
						"sortNumber": 1104,
						"url": ""
					}, {
						"menuId": "110301",
						"menuName": "用户列表",
						"parentId": "1103",
						"sortNumber": 110301,
						"url": "/User/GoIndex"
					}, {
						"menuId": "110302",
						"menuName": "用户角色管理",
						"parentId": "1103",
						"sortNumber": 110302,
						"url": "/Role/GoIndex"
					}, {
						"menuId": "110305",
						"menuName": "公司角色管理",
						"parentId": "1103",
						"sortNumber": 110302,
						"url": "/CompanyRole/GoIndex"
					}, {
						"menuId": "110303",
						"menuName": "菜单管理",
						"parentId": "1103",
						"sortNumber": 110303,
						"url": "/Menu/Index"
					}, {
						"menuId": "11030301",
						"menuName": "菜单管理1",
						"parentId": "110303",
						"sortNumber": 110303,
						"url": "/Menu/Index"
					}, {
						"menuId": "1201",
						"menuName": "单品管理",
						"parentId": "12",
						"sortNumber": 1201,
						"url": "/Sku/Index"
					}, {
						"menuId": "1202",
						"menuName": "商品类别",
						"parentId": "12",
						"sortNumber": 1202,
						"url": "/Category/Index"
					}, {
						"menuId": "1203",
						"menuName": "供应商商品",
						"parentId": "12",
						"sortNumber": 1203,
						"url": "/SkuCompany/SupplierSkuIndex"
					}, {
						"menuId": "1204",
						"menuName": "商品分类属性",
						"parentId": "12",
						"sortNumber": 1204,
						"url": "/Category/CategoryPropIndex"
					}, {
						"menuId": "1205",
						"menuName": "平台商品",
						"parentId": "12",
						"sortNumber": 1205,
						"url": "/BaseSku"
					}, {
						"menuId": "1206",
						"menuName": "品牌管理",
						"parentId": "12",
						"sortNumber": 1206,
						"url": "/Brand/Index"
					}, {
						"menuId": "1301",
						"menuName": "供应商管理",
						"parentId": "13",
						"sortNumber": 1301,
						"url": "/CompanyContact/TradeSupplierIndex"
					}, {
						"menuId": "1302",
						"menuName": "商品供应商",
						"parentId": "13",
						"sortNumber": 1302,
						"url": "/SkuCompany/SkuSupplierIndex"
					}, {
						"menuId": "1303",
						"menuName": "采购合同",
						"parentId": "13",
						"sortNumber": 1303,
						"url": "/Contract/ContractPurchase"
					}, {
						"menuId": "1304",
						"menuName": "询价单",
						"parentId": "13",
						"sortNumber": 1304,
						"url": "/Require/RequireIndex"
					}, {
						"menuId": "1305",
						"menuName": "采购订单",
						"parentId": "13",
						"sortNumber": 1305,
						"url": "/Purchasing/PurchasingOrder"
					}, {
						"menuId": "1306",
						"menuName": "采购单审核",
						"parentId": "13",
						"sortNumber": 1306,
						"url": "/Purchasing/PurchasingReviewIndex"
					}, {
						"menuId": "1307",
						"menuName": "收货通知单",
						"parentId": "13",
						"sortNumber": 1307,
						"url": "/ReceivingNotice/ReceivingOrder"
					}, {
						"menuId": "1308",
						"menuName": "采购订单查询",
						"parentId": "13",
						"sortNumber": 1308,
						"url": "/PurchasingSelect/PurchasingOrder"
					}, {
						"menuId": "1401",
						"menuName": "销售商管理",
						"parentId": "14",
						"sortNumber": 1401,
						"url": "/CompanyContact/TradeCustomerIndex"
					}, {
						"menuId": "1405",
						"menuName": "商品销售商",
						"parentId": "14",
						"sortNumber": 1405,
						"url": "/SkuCompany/SkuCustomerIndex"
					}, {
						"menuId": "1406",
						"menuName": "销售合同",
						"parentId": "14",
						"sortNumber": 1406,
						"url": "/Contract/ContractSale"
					}, {
						"menuId": "1407",
						"menuName": "报价单",
						"parentId": "14",
						"sortNumber": 1407,
						"url": "/Require/QuoteIndex"
					}, {
						"menuId": "1409",
						"menuName": "销售订单",
						"parentId": "14",
						"sortNumber": 1409,
						"url": "/Order"
					}, {
						"menuId": "1410",
						"menuName": "订单审批",
						"parentId": "14",
						"sortNumber": 1410,
						"url": "/Order/OrderReviewIndex"
					}, {
						"menuId": "1412",
						"menuName": "出库通知单",
						"parentId": "14",
						"sortNumber": 1412,
						"url": "/OutboundNotice"
					}, {
						"menuId": "1413",
						"menuName": "销售订单查询",
						"parentId": "14",
						"sortNumber": 1413,
						"url": "/OrderSelect/Index"
					}, {
						"menuId": "3001",
						"menuName": "导航管理",
						"parentId": "30",
						"sortNumber": 10,
						"url": "http://cms.ym.com/HomeLinkBar/Index"
					}, {
						"menuId": "3002",
						"menuName": "巨幕管理",
						"parentId": "30",
						"sortNumber": 10,
						"url": "http://cms.ym.com/HomeCarousel/Index"
					}, {
						"menuId": "3003",
						"menuName": "广告管理",
						"parentId": "30",
						"sortNumber": 10,
						"url": "http://cms.ym.com/HomeAD/Index"
					}, {
						"menuId": "3004",
						"menuName": "楼层管理",
						"parentId": "30",
						"sortNumber": 10,
						"url": "http://cms.ym.com/HomeFloor/Index"
					}, {
						"menuId": "3005",
						"menuName": "商品信息管理",
						"parentId": "30",
						"sortNumber": 10,
						"url": "http://cms.ym.com/sku/Index"
					}, {
						"menuId": "5002",
						"menuName": "物理仓管理",
						"parentId": "50",
						"sortNumber": 1002,
						"url": ""
					}, {
						"menuId": "5003",
						"menuName": "逻辑仓管理",
						"parentId": "50",
						"sortNumber": 1003,
						"url": ""
					}, {
						"menuId": "5005",
						"menuName": "仓库供应商",
						"parentId": "50",
						"sortNumber": 100204,
						"url": "/CompanyContact/WarehouseSupplierIndex"
					}, {
						"menuId": "5006",
						"menuName": "仓库客户",
						"parentId": "50",
						"sortNumber": 100204,
						"url": "/CompanyContact/WarehouseCustomerIndex"
					}, {
						"menuId": "5007",
						"menuName": "快递信息",
						"parentId": "50",
						"sortNumber": 110403,
						"url": "http://wms.ym.com/ExpressType"
					}, {
						"menuId": "5008",
						"menuName": "残品原因",
						"parentId": "50",
						"sortNumber": 110403,
						"url": "http://wms.ym.com/Reason/Index"
					}, {
						"menuId": "500201",
						"menuName": "我的物理仓",
						"parentId": "5002",
						"sortNumber": 100201,
						"url": "http://wms.ym.com/Warehouse/Index"
					}, {
						"menuId": "500202",
						"menuName": "物理仓库区",
						"parentId": "5002",
						"sortNumber": 100202,
						"url": "http://wms.ym.com/WarehouseRegion/Index"
					}, {
						"menuId": "500203",
						"menuName": "过道信息",
						"parentId": "5002",
						"sortNumber": 100203,
						"url": "http://wms.ym.com/WarehouseGangway/Index"
					}, {
						"menuId": "500204",
						"menuName": "货架类型",
						"parentId": "5002",
						"sortNumber": 100204,
						"url": "http://wms.ym.com/WarehouseRackingType/Index"
					}, {
						"menuId": "500206",
						"menuName": "库位管理",
						"parentId": "5002",
						"sortNumber": 100206,
						"url": "http://wms.ym.com/WarehouseLocation/Index"
					}, {
						"menuId": "500301",
						"menuName": "我的逻辑仓",
						"parentId": "5003",
						"sortNumber": 100301,
						"url": "http://wms.ym.com/Stock/Index"
					}, {
						"menuId": "500303",
						"menuName": "逻辑仓库区",
						"parentId": "5003",
						"sortNumber": 100303,
						"url": "http://wms.ym.com/StockRegion/Index"
					}, {
						"menuId": "500304",
						"menuName": "库位信息",
						"parentId": "5003",
						"sortNumber": 100304,
						"url": "http://wms.ym.com/StockLocation/Index"
					}, {
						"menuId": "500305",
						"menuName": "快递网点",
						"parentId": "5003",
						"sortNumber": 100305,
						"url": "http://wms.ym.com/StockExpress/Index"
					}, {
						"menuId": "5501",
						"menuName": "收货单",
						"parentId": "55",
						"sortNumber": 1701,
						"url": "http://wms.ym.com/Receiving/ReceivingOrder"
					}, {
						"menuId": "5502",
						"menuName": "质检单",
						"parentId": "55",
						"sortNumber": 1702,
						"url": "http://wms.ym.com/CheckOrder/Index"
					}, {
						"menuId": "5504",
						"menuName": "上架管理",
						"parentId": "55",
						"sortNumber": 1704,
						"url": "http://wms.ym.com/putaway/index"
					}, {
						"menuId": "5602",
						"menuName": "转移管理",
						"parentId": "56",
						"sortNumber": 1802,
						"url": "http://wms.ym.com/TransferInventoryLocation/Index"
					}, {
						"menuId": "5701",
						"menuName": "出库单",
						"parentId": "57",
						"sortNumber": 1901,
						"url": "http://wms.ym.com/Outbound"
					}, {
						"menuId": "5703",
						"menuName": "快递匹配",
						"parentId": "57",
						"sortNumber": 1903,
						"url": "http://wms.ym.com/Express"
					}, {
						"menuId": "5705",
						"menuName": "拣货单生成",
						"parentId": "57",
						"sortNumber": 1905,
						"url": "http://wms.ym.com/picking/CreatePickingIndex"
					}, {
						"menuId": "5706",
						"menuName": "拣货单打印",
						"parentId": "57",
						"sortNumber": 1905,
						"url": "http://wms.ym.com/picking/PickingPrintIndex"
					}, {
						"menuId": "5707",
						"menuName": "拣货单",
						"parentId": "57",
						"sortNumber": 1905,
						"url": "http://wms.ym.com/picking"
					}, {
						"menuId": "5708",
						"menuName": "复核",
						"parentId": "57",
						"sortNumber": 1908,
						"url": "http://wms.ym.com/packaging/Index"
					}, {
						"menuId": "5802",
						"menuName": "仓库库存",
						"parentId": "58",
						"sortNumber": 5802,
						"url": "http://wms.ym.com/InventoryStock"
					}, {
						"menuId": "5803",
						"menuName": "库位库存",
						"parentId": "58",
						"sortNumber": 5803,
						"url": "http://wms.ym.com/InventoryLocation"
					}, {
						"menuId": "5804",
						"menuName": "ERP仓库库存",
						"parentId": "58",
						"sortNumber": 5804,
						"url": "/ERPInventoryStock/Index"
					}, {
						"menuId": "5805",
						"menuName": "ERP库存",
						"parentId": "58",
						"sortNumber": 5805,
						"url": "/ERPInventory/Index"
					}, {
						"menuId": "8001",
						"menuName": "质押单",
						"parentId": "80",
						"sortNumber": 999,
						"url": "http://scf.91scm.com/Pledge/Index"
					}], "menuId", "parentId", "chindren")
				},
				methods: {}
			});
			
			//-----选项卡
			var tabStrip = $("#tabstrip").kendoTabStrip({//创建
				activate: function(){
					tmpTimeout=setTimeout(function(){
						$(".k-content").height(getMainH());
					},10);
				}
			}).data("kendoTabStrip");
			
			$(".removeItem").click(function(e) {//删除
				var tab = tabStrip.select(),
					otherTab = tab.next();
				otherTab = otherTab.length ? otherTab : tab.prev();
				tabStrip.remove(tab);
				tabStrip.select(otherTab);
			});
			
			 function  configureCloseTab() {//创建关闭
				var tabsElements = $('#tabstrip li[role="tab"]');
				$.each(tabsElements, function(i,o) { 
					if($(o).find('[data-id]').length>0&&$(o).find('[data-type="remove"]').length<=0){
						$(o).append('<span data-type="remove" onclick="rmTab(event)" class="k-link"><span class="k-icon k-font-icon k-i-x"></span></span>');
					}
				});
			};
			
			function addTab(dom){//添加
				var domDid=$(dom).attr("data-id");
				if(domDid == undefined){
					return;
				}
				var tabstripItems=$(".k-tabstrip-items li.k-item");
				for(var i=0;i<tabstripItems.length;i++){
					var tmpId=$(tabstripItems[i]).find('[data-id]');
					if(tmpId != undefined){
						tmpId=tmpId.attr("data-id");
						if(tmpId==domDid){ 
							$(tabstripItems[i])[0].click();
							return;
						}
					}
				}
				tabStrip.append({
						encoded: false,//false允许html代码
						text:'<span data-id="'+domDid+'">'+$(dom).text()+'</span>' ,
						content: "<iframe src='"+'http://erp.ym.com/'+$(dom).attr("data-href")+"'></iframe>"
//						contentUrl:'http://erp.ym.com/'+$(dom).attr("data-href")
					});
				configureCloseTab(); 
				$(".k-tabstrip-items li.k-item")[$(".k-tabstrip-items li.k-item").length-1].click();
			}
			var tmpTimeout=null;
			function rmTab(e){//关闭事件
				e.preventDefault();
				e.stopPropagation();
				var item = $(e.target).closest(".k-item");
				tabStrip.remove(item.index());
				if(item.hasClass('k-state-active')){
					if(tabStrip.items().length > 1 ){
						tabStrip.select(tabStrip.items().length-1); 
					}else if(tabStrip.items().length>0) {
						tabStrip.select(0);
					}
				}
			}
			function getMainH() { //获取内容主体高度
				return window.innerHeight - $("#navbar-second").outerHeight() - $("#tabstrip ul.k-tabstrip-items").outerHeight() - 2;
			}
			$(window).resize(function() {
				$(".k-content").height(getMainH());
			});
			$(document).ready(function() {
				$(".k-content").height(getMainH());
			});
		</script>
	</body>

</html>